#img-tabla{
	width: 100%;
	align-content: center;
	margin-top: 10px;
}
.row-inicio{
	margin-top: 13px;
}
.row-servicios{
	margin-top: 30px;
}
.img-servicios{
	margin-top: 10px;
}
.carousel-inner { text-align: center; }
.carousel .item > img { display: inline-block; }
.redes-sociales{
	width: 80px;
	height: 80px;
}
#titulo-direccion{
	font-size: large;
}