#img-tabla{
	width: 100%;
	align-content: center;
	margin-top: 10px;
}
#row-servicios{
	margin-top: 10px;
}
#img-servicios{
	margin-top: 10px;
	width: 200px;
	height: 170px;
}
.carousel-inner { text-align: center; }
.carousel .item > img { display: inline-block; }
