#img-tabla{
	width: 100%;
	align-content: center;
	margin-top: 10px;
}
.row-inicio{
	margin-top: 20px;
}
.row-servicios{
	margin-top: 20px;
}
.img-servicios{
	margin-top: 10px;
}
.carousel-inner { text-align: center; }
.carousel .item > img { display: inline-block; }
.redes-sociales{
	width: 80px;
	height: 80px;
}
#titulo-direccion{
	font-size: large;
}
.con{
	margin-top: 12%;
	text-align: center;
	opacity: 0.7;
}
.btn-index{
	background-color: #761c19;
	border-color: #777777;
}
.btn-index:hover{
	background-color: #777777;
	border-color: #761c19;
}
a{
	color: #f7f7f7;
}
.fondo_panel{
	background-color: #0f0f0f;
	opacity: 0.8;
}
.fondo_panel2{
	background-color: transparent;
	margin-top: 60px;
}
.panel-white {
	background-color: #0f0f0f;
	opacity: 0.8;
}
p{
	color: white;
}
h4,h3{
	color: white;
}

